body {
  font-size:           small;
  font-family:         Verdana, Helvetica, Arial, sans-serif;
  line-height:         1.6em;
}

h1, h2 {
  color:               #007e7e;
}

h1 {
  font-size:           150%;
}

h2 {
  font-size:           130%;
}

#guarantee {
  line-height:         1.9em;
  font-style:          italic;
  font-family:         Georgia, "Times New Roman", Times, serif;
  color:               #444444;
  border-color:        white;
  border-width:        1px;
  border-style:        dashed;
  background-color:    #a7cece;
  padding:             25px;
  padding-left:        80px;
  margin:              30px;
  margin-right:        250px;
  background-image:    url(images/background.gif);
  background-repeat:   no-repeat;
  background-position: top left;

  padding-top:    0px;
  padding-right:  20px;
  padding-bottom: 30px;
  padding-left:   10px;

  padding: 0px 20px 30px 10px;
}


#elixirs{
  border-width : thin;
  border-style: solid;
  border-color: #007e7e;
  width: 200px;

  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;

  margin-left: 20px;
  text-align: center;

  background-image: url(images/cocktail.gif);
  background-repeat: repeat-x;
  float:right;
}

#elixirs h2{
  color: black;
}
#elixirs h3{
  color: #d12c47;
}

#elixirs{
  line-height: 1em;
}

.cd{
  font-style: italic;
}

.artist{
  font-weight: bold;
}

#elixirs a:link{
  background: red;
  color: #007e7e;
}
#elixirs a:visited{
  background:black;
  color: #333333;
}
#elixirs a:hover{
  background: #f88396;
  color: #0d5353;
}