body {
  font-family: sans-serif;
}
h1,
h2 {
  color: gray;
}
h1 {
  border-bottom: 1px solid black;
}
p {
  color: maroon;
  border-bottom: 1px solid yellowgreen;
}
em {
  font-family: serif;
}

.greentea {
  color: green;
  border-bottom: 1px solid black;
}

.strawberry {
  color: red;
  border-bottom: 1px solid black;
}

/* 
.greentea {
  color: green;
}
.strawberry {
  color: red;
}
p.bluetea {
  color: blue;
}
p.purpletea {
  color: purple;
}
p.redtea {
  color: red;
} */
